.card-body {
  color: #000000;
  max-height: 500px;
  overflow:auto;
  background: #FFFFFF;
  text-align: justify;
  word-break: break-all;
}
.mat-stroked-button {
  background: #ffffff;
}
