.loader-hidden {
    visibility: hidden;
}
.loader-overlay {
    position: absolute;
    width:100%;
    top:0;
    left: 0;
    opacity: 1;
    z-index: 500000;
}

:host {

    display: flex;
    overflow: hidden;
    height: 100vh;
  
    main {
      flex: 1;
      position: relative;
    }
  
    /deep/ router-outlet ~ * {
        position: absolute;
        width: 100%;
        height: 100%;
      }
}

