.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1),
{
flex: 0 0 5%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2),
{
flex: 0 0 10%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3),
{
flex: 0 0 25%;
}

.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4),
{
flex: 0 0 30%;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5),
{
flex: 0 0 15%;
}

.mat-cell:nth-child(6),
.mat-header-cell:nth-child(6),
{
flex: 0 0 5%;
}


.mat-cell-danger {
  background: #ff0000;
}

.mat-cell-warn {
    background: #ffe600;
}

mat-footer-row, mat-header-row, mat-row {
  border: 0 !important;
}