.oba-card {
    margin: 0 auto !important;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1),
{
flex: 0 0 20%;
}
.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7),
{
flex: 0 0 20%;
}

.mat-cell:nth-child(8),
.mat-header-cell:nth-child(8),
{
flex: 0 0 5%;
}

.mat-cell:nth-child(9),
.mat-header-cell:nth-child(9),
{
flex: 0 0 5%;
}