.oba-pagenotfound {
	width: 100%;
	height: 300px;
	text-align: center;
}
  
.oba-pagenotfound-interno{
	margin: 0 auto;
	width: 300px !important;
 }

.oba-pagenotfound i {
	font-size: 60px;
}

div {
	margin-top: 30vh;
}

h1 {
	font-size: 100px;
}

p {
	color: #000;
}