.oba-container {
    display: flex;
    flex-direction: column;
    /*max-height: 500px;*/
    min-width: 100%;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1),
{
    flex: 0 0 10%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2),
{
    flex: 0 0 30%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3),
{
    flex: 0 0 45%;
}

.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4),
{
    flex: 0 0 10%;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5),
{
    flex: 0 0 5%;
}

.spacer {
    flex: 1 1 auto;
}