.mat-dialog-content {
    font-family:Roboto,"Helvetica Neue",sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 12px;
}

.mat-dialog-actions {
    padding: 12px 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -24px;
}