.oba-container {
    display: flex;
    flex-direction: column;
    /*max-height: 500px;*/
    min-width: 100%;
}

@for $i from 1 through 2 {
    .mat-cell:nth-child($i),
    .mat-header-cell:nth-child($i),
    {
      flex: 0 0 20% * $i;
    }
}
