<mat-card class="oba-card mat-card">
    <div class="row">
        <div class="form-group col-md-12">
            <mat-toolbar class="oba-toolbar">
                <div class="col-md-11 oba-breadcrumb">
                    Frota / Cadastro /
                    <a routerLink="/admin/frota/cadastro/lista"> Lista </a>
                </div>
            </mat-toolbar>
        </div>
    </div>
    <mat-card-content>
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="form" (ngSubmit)="submit()" #f="ngForm">
                    <div class="col-md-2">
                        <mat-form-field>
                            <mat-select placeholder="Unidade" class="oba-form-control" formControlName="sequnidade" (ngModelChange)="carregaGridCadastros($event)"
                                [required]="true">
                                <mat-option *ngFor="let unidade of unidades" [value]="unidade.SeqUnidade">
                                    {{ unidade.Unidade }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <mat-toolbar color="primary">
                        <mat-toolbar-row>
                            <span>Cadastros</span>
                            <span class="spacer"></span>
                            <button mat-mini-fab color="warn" type="button" (click)="novoCadastro()">
                                <mat-icon aria-label="Adicionar Novo">add</mat-icon>
                            </button>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <div class="oba-container mat-elevation-z8">
                        <mat-table #table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="placa">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Placa </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Placa: </span> {{element.PLACA}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="modelo">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Modelo: </span> {{element.MODELO}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="empresa">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Empresa </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Empresa: </span> {{element.NOMEEMPALOC}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Status: </span> {{element.STATUS}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="editar">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let element" (click)="editaGridLinhaCadastro(element.SEQVEICULO)" style="cursor: pointer;">
                                    <i class="material-icons">
                                        edit
                                    </i>
                                </mat-cell>
                            </ng-container>
                            <!-- ng-container matColumnDef="deletar">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let element" (click)="removeGridLinhaCadastro(element.SEQVEICULO, element.SEQVEICULO)" style="cursor: pointer;">
                                    <i class="material-icons">
                                        delete
                                    </i>
                                </mat-cell>
                            </ng-container -->
                            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50, 100]" [showFirstLastButtons]="true">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>