.oba-card {
  margin: 0 auto !important;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1)
{
flex: 0 0 8%;
justify-content: center;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2)
{
 flex: 0 0 20%;
justify-content: center;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3)
{
flex: 0 0 20%;
justify-content: center;
}

.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4)
{
flex: 0 0 25%;
justify-content: center;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5)
{
flex: 0 0 10%;
justify-content: center;
}

.mat-cell:nth-child(6),
.mat-header-cell:nth-child(6)
{
flex: 0 0 8%;
justify-content: center;
}

.mat-row:nth-child(odd){
  background-color:#FFFFFF;
  }

.mat-row:nth-child(even){
  background-color:#F2F5F7;
}

.footer {
  font-size: 13px !important;
  min-height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
