.splash-overlay {
     background: url('/assets/img/logo.gif') no-repeat fixed center;   
     background-position: 50%;
     position:absolute;
     left:0px;
     top:0;
     margin-top:-50%;
     height: 100%;
     width:100%;
     margin:0;
}

