
div {
	margin-top: 30vh;
}

h1 {
	font-size: 12px;
}

p {
	color: #000;
}

.oba-errorpage {
	width: 100%;
	height: 100px;
}
  
.oba-errorpage-interno div {
	margin: 0 auto;
	width: 400px !important;
	font-size: 12px;
	text-align: center;
	margin-bottom: 30px;
 }


 .oba-errorpage-interno i {
	font-size: 80px !important;
	display: flex;
    display: -webkit-flex; /* Garante compatibilidade com navegador Safari. */
    justify-content: center;
    align-items: center;
}

.oba-errorpage-interno a {
	font-size: 60px !important;
}