.mat-sidenav-content {
  background-color: rgba(0, 0, 0, 0.836) !important;
  background: linear-gradient(-45deg, rgba(72, 80, 71, 0.082), rgba(72, 80, 71, 0.082)) !important;
}

.oba-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
  }

  .oba-icon{
    font-size: 19px;
  }

  .oba-spacer {
    flex: 1 1 auto;
  }

  
@media only screen and (min-width: 451px) {
  .mat-list, .mat-nav-list, .mat-selection-list{
    padding-top: 0px !important;
  }
}

/*
@media only screen and (max-width: 450px) {
  .mat-list, .mat-nav-list, .mat-selection-list {
    padding-top: 56px !important;
  }
}*/
  
  .oba-is-mobile .oba-toolbar {
    position: fixed;
    z-index: 2;
  }
  
  h1.oba-app-name {
    margin-left: 8px;
  }
  
  h5.oba-app-chapa {
    font-size: 13px;
  }

  .oba-sidenav-container {
    flex: 1;
    /*background:  rgb(247, 243, 243);*/
  }

  .oba-sidenav-menu {
    width: 100% !important;
  }

  .oba-sidenav-card{
     box-shadow: none !important;
  }

  .oba-sidenav-card .oba-sidenav-title {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
  }

  .oba-sidenav-content {
    margin: 10px !important;
  }

  .oba-sidenav-card .oba-sidenav-subtitle {
    font-size: 13px;
  }
  
  .oba-sidenav-card .mat-raised-button {
     width: 100% !important;
  }

  .oba-sidenav-container .oba-nav-list-modulo {
      font-size: 15px;
      font-weight: bold;
      margin-left: 5px;
      color: rgb(133, 133, 133)
  }
  
  .oba-sidenav-container .oba-nav-list-aplicacao {
    font-size: 14px;
    font-weight: bold;    
  }
  /*
  .oba-is-mobile .oba-sidenav-container {
    flex: 1 0 auto;
  }*/
  .oba-sidenav-logo-user{
     /* background: url("/assets/img/user.jpg") no-repeat;*/
    background-size: cover;
    height: 100px;
    width: 100px;      
    margin: 1px -11px 0 63px;
  }

  .oba-sidenav-logo-user img {
    background-size: cover;
    height: 105px;
    width: 102px;
    margin: 0px -11px 0 -2px;
    border-radius: 50%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .oba-toolbar-button {
    width: 42px !important;
  }

  .oba-toolbar-icon {
    background-size: cover;
    height: 40px;
    width:  40px;
    /*margin: 0px -11px 0 -5px;*/
    border-radius: 50%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    border: 3px solid #166422;
  }

  .mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item{
    font-size: 14px;
  }
/*
  @media only screen and (max-width: 450px) {
  .oba-nav-list-home 
  {
    margin-top: 50px;
  }
}*/
  
.oba-nav-list a:hover
{
  border-left: 3px solid #21782e;
}

mat-sidenav,
mat-sidenav.md-locked-open-add-active,
mat-sidenav.md-closed.md-locked-open-add-active,
mat-sidenav.md-locked-open {
  width: 230px;
  min-width: 230px;
  max-width: 230px;
}

.oba-app-name {
  background: url('/assets/img/logo-oba-hortifruti-branco.png') no-repeat;
  width: 86px;
  height: 39px;
  background-size: 84px;
  margin-left: 2px !important;
  cursor: pointer;
}

:host {

  display: flex;
  overflow: hidden;
  height: 100vh;
  
  main {
    flex: 1;
    position: relative;
  }

  /deep/ router-outlet ~ * {
      position: absolute;
      width: 100%;
      height: 100%;
    }
}
