.mat-cell:nth-child(1),
.mat-footer-cell:nth-child(1),
.mat-header-cell:nth-child(1),
{
flex: 0 0 8%;
}

::ng-deep .cdk-overlay-pane {
    max-width: none !important;
    width: auto !important;
    
}