
/*:host {
      display: flex;
      justify-content: center;
      margin: 72px 0;
    }
    .mat-form-field {
      width: 100%;
      min-width: 300px;
    }
    mat-card-title,
    mat-card-content {
      display: flex;
      justify-content: center;
    }
    .loginError {
      padding: 16px;
      width: 300px;
      color: white;
      background-color: red;
    }
    .loginButtons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }*/
    /*body {
        background-color: rgba(0, 0, 0, 0.0392156862745098) !important;
        background: linear-gradient(-45deg, rgba(16, 0, 78, 0.3686274509803922), rgba(20, 4, 81, 0)) !important;
    }*/
    :host {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.836) !important;
        background: linear-gradient(-45deg, rgba(117, 128, 117, 0.369), rgba(72, 80, 71, 0)) !important;
    }

<<<<<<< HEAD
    .login .mat-card-conatiner{
        margin: auto;
    }    

=======
>>>>>>> 10ea516aba4d097f0a07b6037dc067fcf347cc8d
    .login .mat-card {
        overflow: visible !important;
        z-index: auto !important;
        width: 306px;
        _width: 14%;
    }


    @media only screen and (max-width: 400px) {
        .login .mat-card {
            width: 306px !important
        }
    }


@-moz-document url-prefix(){

    .login .mat-card {
        overflow: visible !important;
        z-index: auto !important;
        width: 14%;
    }
}


    @media (max-width: 599px){
        .login  .mat-card {
            width: 306px;
        }
    }

    .login  .mat-form-field {
        width: 100%;
<<<<<<< HEAD
    }    
    
    .login  .mat-raised-button {
        width: 100% !important;
    }
    
=======
    }

    .login  .mat-raised-button {
        width: 100% !important;
    }

>>>>>>> 10ea516aba4d097f0a07b6037dc067fcf347cc8d
    .login .mat-card-title {
        border-radius: 50%;
        height: 56px;
        margin: auto;
        min-width: 56px;
        width: 56px;
        overflow: hidden;
        background: rgba(158,158,158,.2);
        box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
        position: absolute;
        top: -30px;
        text-align: center;
        left: 0;
        right: 0;
    }
    .login .mat-card-subtitle .logo {
        height: 131px;
        color: rgba(0, 0, 0, 0.31);
        background: url("../../../assets/img/logo-oba-hortifruti.png") no-repeat;
        background-size: 246px;
        margin: 21px 6px;
    }

    router-outlet {
        height: 0 !important;
    }
<<<<<<< HEAD
   
=======

>>>>>>> 10ea516aba4d097f0a07b6037dc067fcf347cc8d
/*body {
	background-color: rgba(0, 0, 0, 0.0392156862745098) !important;
    background: linear-gradient(-45deg, rgba(16, 0, 78, 0.3686274509803922), rgba(20, 4, 81, 0)) !important;
}*

#login-conatiner{
	margin: auto;
}

.mdl-card, .mdl-card__supporting-text {
    overflow: inherit !important;
}

.mdl-card {
    overflow: visible !important;
    z-index: auto !important;
}

#login-fab {
	border-radius: 50%;
    height: 56px;
    margin: auto;
    min-width: 56px;
    width: 56px;
    overflow: hidden;
    background: rgba(158,158,158,.2);
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    position: absolute;
    top: -30px;
    text-align: center;
    left: 0;
    right: 0;
}

#lock-icon{
	line-height: 56px;
}

#login-button {
  width: 100%;
  height: 40px;
  min-width: initial;
}


#card-heading[_ngcontent-c1] {
    height: 120px;
    color: rgba(0, 0, 0, 0.31);
    background: url("../../../assets/img/logo_mclogin.png") no-repeat;
    background-size: 253px;
    margin: 19px;
}


#forgotpassword{
	float: right;
}
<<<<<<< HEAD
*/
=======
*/
>>>>>>> 10ea516aba4d097f0a07b6037dc067fcf347cc8d
